<div class="incident-details">
    <div class="header">
      <h2>Detalle del incidente</h2>
    </div>
  
    <div class="content">
      <div class="field">
        <span class="label">Fecha:</span>
        <span class="value">06 Noviembre 2024 - 13:35pm</span>
      </div>
      <div class="field">
        <span class="label">Caso:</span>
        <span class="value">112345AB</span>
      </div>
      <div class="field">
        <span class="label">Nombre:</span>
        <span class="value">Caso 1</span>
      </div>
      <div class="field">
        <span class="label">Descripción:</span>
        <span class="value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et libero lacinia, mollis eros ut, laoreet nulla. Maecenas eget erat vitae mi tristique porttitor.</span>
      </div>
      <div class="field">
        <span class="label">Estado:</span>
        <span class="value status">En Curso</span>
      </div>
    </div>
  </div>