<header class="main-header">
  <img src="/assets/images/logos/abcall-blue-letter.svg" alt="ABCall" />
</header>
<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formTitle">
  <h1 class="text-center mb-4 main-title">Elige el plan perfecto para tí</h1>
  <h2 class="text-center mb-4 secondary-title">
    !Nos encantaría trabajar contigo¡
  </h2>
</section>
<div class="container h-100 d-flex justify-content-center">
  <section class="plansContainer">
    <div class="box">
      <header>
        <h3>Emprendedor</h3>
      </header>
      <section>
        <h2 class="price">
          COP $ 2.500.000
        </h2>
        <>
          <summary>Ideal para aquellos que están comenzando su negocio y buscan una solución de atención al cliente eficiente y accesible.</summary>
        </>
      </section>
    </div>
    <div class="box">
      <header>
        <h3>Empresario</h3>
      </header>
      <section>
        <h2 class="price">
          COP $ 7.500.000
        </h2>
      </section>
    </div>
    <div class="box">
      <header>
        <h3>Empresario Plus</h3>
      </header>
      <section>
        <h2 class="price">
          COP $ 12.500.000
        </h2>
      </section>
    </div>
  </section>
</div>

<!-- Footer -->
<footer>
  <div class="social-links">
    <a href="#" target="_blank"
      ><img
        src="/assets/images/logos/Facebook.svg"
        style="width: 32px"
        alt="Facebook"
    /></a>
    <a href="#" target="_blank"
      ><img
        src="/assets/images/logos/Instagram.svg"
        style="width: 32px"
        alt="Instagram"
    /></a>
    <a href="#" target="_blank"
      ><img
        src="/assets/images/logos/LinkedIn.svg"
        style="width: 32px"
        alt="Linkedin"
    /></a>
  </div>
  <span>&copy; ABCall</span>
</footer>
