<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-5 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100" style="background-color: #DED4EF;">


        <div class="align-items-center justify-content-center img-height d-none d-lg-flex" >
          <img src="/assets/images/backgrounds/abcallsignin-bg.svg" alt="login" style="max-width: 500px" />
        </div>

      </div>
    </div>




    <div class="col-lg-7 col-xl-4 p-0">

      <div class="row justify-content-end" style="margin-right: 8em;">
        <button [matMenuTriggerFor]="flags" mat-icon-button class="language-button m-r-8">
          <img
            [src]="selectedLanguage.icon"
            class=" object-cover "
          /><span style="font-size: 14px;">{{selectedLanguage.language}}</span>
        </button>
        <mat-menu #flags="matMenu" class="cardWithShadow">
          <button
            mat-menu-item
            *ngFor="let lang of languages"
            (click)="changeLanguage(lang)"
          >
            <div class="d-flex align-items-center">
              <img
                [src]="lang.icon"
                class="object-cover m-r-8"
              />
              <span class="mat-subtitle-1 f-s-14">{{ lang.language }}</span>
            </div>
          </button>
        </mat-menu>
    </div>
      <div class="d-flex align-items-start align-items-lg-start justify-content-center h-100">



        <div class="row justify-content-center w-100">




          <div class="col-lg-9 max-width-form">
            <div class="align-items-center justify-content-center  d-none d-lg-flex"  >
              <img src="/assets/images/backgrounds/ABCall-Espanol 2.svg" style="width: 250px;" alt="login" />
            </div>
            <br/>
            <div class="link-container align-items-center justify-content-center  d-none d-lg-flex">
              <a href="#" class="active">Empresas</a>
              <a href="#">Internos</a>
            </div>



            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Correo</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput formControlName="uname" />
                <mat-hint *ngIf="f['uname'].touched && f['uname'].invalid" class="m-b-16 error-msg">
                  <div class="text-error" *ngIf="f['uname'].errors && f['uname'].errors['required']">
                    Correo requerido.
                  </div>
                  <div class="text-error" *ngIf="f['uname'].errors && f['uname'].errors['minlength']">
                    Correo no valido.
                  </div>
                </mat-hint>
              </mat-form-field>

              <!-- password -->
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input
                  matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="hidePassword = !hidePassword"
                >
                  <mat-icon>
                    {{ hidePassword ? 'visibility_off' : 'visibility' }}
                  </mat-icon>
                </button>
                <mat-hint *ngIf="f['password'].touched && f['password'].invalid" class="m-b-16 error-msg">
                  <div class="text-error" *ngIf="f['password'].errors && f['password'].errors['required']">
                    Contraseña requerida.
                  </div>
                </mat-hint>
              </mat-form-field>



              <button mat-flat-button   style="width: 50%;background-color: #090041; color: white; margin: 0 auto; display: block;" [disabled]="!form.valid">
                Iniciar Sesión
              </button>
              <!-- input -->
            </form>
            <br/>
            <span style="text-align: center; margin: 0 auto; display: block;">
              <a [routerLink]="['/authentication/side-register']" style="color: #1AC3D2;"
                class="text-decoration-none  f-w-500 f-s-14">
                ¿Olvidaste tu contraseña?</a>
            </span>

            <span style="text-align: center; margin: 0 auto; display: block;">
              ¿Aún no estás registrado? &nbsp;<a [routerLink]="['/plans']" style="color: #1AC3D2;"
                class="text-decoration-none  f-w-500 f-s-14">
                 <b>Ver planes</b></a>
            </span>

            <span style="text-align: center; margin: 0 auto; display: block;">
              <a [routerLink]="['/authentication/get-issue']" style="color: #1AC3D2;"
                class="text-decoration-none  f-w-500 f-s-14">
                 <b>Consultar incidente</b></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Footer -->
 <div class="footer">
  <div class="social-links">
    <a href="#" target="_blank"><img src="/assets/images/logos/Facebook.svg" style="width: 32px;" alt="login" /></a>
    <a href="#" target="_blank"><img src="/assets/images/logos/Instagram.svg" style="width: 32px;" alt="login" /></a>
    <a href="#" target="_blank"><img src="/assets/images/logos/LinkedIn.svg" style="width: 32px;" alt="login" /></a>
  </div>
  <span style="font-size: 12px;">&copy; ABCall - v{{version}}</span>
</div>
