###################################
# abcall-web
###################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: abcall-web
  labels:
    app: abcall-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: abcall-web
  template:
    metadata:
      labels:
        app: abcall-web
    spec:
      containers:
        - name:  abcall-web
          image: abcall.azurecr.io/abcall-web:{{IMAGE_TAG}}
          ports:
            - containerPort: 80
          imagePullPolicy: Always
          env:
            - name: "NODE_ENV"
              valueFrom:
                configMapKeyRef:
                  name: web-configmap
                  key: NODE_ENV
            - name: "ABCALL_BFF_BASE_URL"
              valueFrom:
                configMapKeyRef:
                  name: web-configmap
                  key: ABCALL_BFF_BASE_URL
            - name: "PHRASE_KEY"
              valueFrom:
                secretKeyRef:
                  name: web-secrets
                  key: PHRASE_KEY
          volumeMounts:
          - name: env-volume
            mountPath: /app/.env
            subPath: .env
      volumes:
      - name: env-volume
        configMap:
          name: web-configmap

---
apiVersion: v1
kind: Service
metadata:
  name: abcall-web-service
spec:
  type: LoadBalancer
  selector:
    app: abcall-web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
