###################################
# abcall-payment-api
###################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: abcall-web
  labels:
    app: abcall-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: abcall-web
  template:
    metadata:
      labels:
        app: abcall-web
    spec:
      containers:
        - name:  abcall-web
          image: abcall.azurecr.io/abcall-web:{{IMAGE_TAG}}
          env:
            - name: "NODE_ENV"
              valueFrom:
                configMapKeyRef:
                  name: web-configmap
                  key: NODE_ENV
            - name: "ABCALL_BFF_BASE_URL"
              valueFrom:
                configMapKeyRef:
                  name: web-configmap
                  key: ABCALL_BFF_BASE_URL
              command: ["/bin/sh", "-c"]
              args:
                - |
                  touch .env &&
                  echo "NODE_ENV=${NODE_ENV}" > .env
                  echo "ABCALL_BFF_BASE_URL=${ABCALL_BFF_BASE_URL}" >> .env
                  echo "Adding environments"
          ports:
            - containerPort: 80
          imagePullPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  name: abcall-web-service
spec:
  type: LoadBalancer
  selector:
    app: abcall-web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
