.container {
    height: calc(100vh - 80px);
}

.mat-form-field {
    margin-bottom: 16px;
}

.text-center {
    flex: 1;
    text-align: center;
    margin: 0;
}


.btn-primary-custom {
    background-color: #090041;
    width: 240px;
    height: 40px;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    /* Separación entre los botones */
}

.btn-secondary-custom {
    background-color: #FFFFFF;
    width: 240px;
    height: 40px;
    color: black;
    border-radius: 5px;
}
$shadow-color: rgba(0, 0, 0, 0.2); // Define shadow color
$shadow-blur: 10px; // Define blur radius
$shadow-offset: 0px 4px;

header
{
  background: white;
  padding: 0 2em;
  background-color: #fff; // Example background color
  box-shadow: $shadow-offset $shadow-blur $shadow-color; // Apply shadow
  padding: 20px; // Optional padding

}

header {
  img {
    width: 64px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #090041; /* Color de fondo */
  color: white;
  text-align: center;
  padding: 80px 0;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  div.social-links {
    display: flex;
    gap: 15px;
    a {
      color: white;
      font-size: 24px;
      text-decoration: none;
    }
  }

}

.formTitle {
  margin-top: 5em;
  margin-bottom: 8em;
}
